.form {
  padding: 16px 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--accent-blue);
}

.label {
  position: relative;
  text-align: center;
}

.input {
  display: block;
  width: 100%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-top: 14px;
  padding-bottom: 14px;
  border: none;
  border-bottom: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
  font-family: Roboto Mono;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  &:disabled {
    opacity: 0.5;
  }
  &:focus {
    outline: none;
    border-bottom: 1px solid var(--warning-rose);
  }
  &::placeholder {
    color: var(--dark-grey);
  }

  @media screen and (min-width: 744px) {
    font-style: 16px;
    line-height: 1.31;
    letter-spacing: -0.32px;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  @media screen and (min-width: 1440px) {
    padding-top: 8px;
    padding-bottom:8px;
    font-style: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }
}

.phone {
  padding-left: 78px;
  color: var(--dark-grey);
  &:focus {
    color:var(--white)
  }
}

.asterix {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  color: var(--warning-rose);
  font-family: Roboto Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.errMessage {
  position: absolute;
  bottom: -40%;
  transform: translateY(-50%);
  left: 0;
  color: var(--warning-rose);
  margin: 0;
  font-family: Roboto Mono;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.85px;
  letter-spacing: 0.26px;
}

.formLabelPasswordConteiner {
  position: relative;
}

.showPasswordButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  margin: 0;
  line-height: 0;
  padding: 10px;
  color: var(--white);
}

.passwordIcon {
  width: 24px;
  height: 24px;
}

.btn {
  width: 100%;
  @media screen and (min-width: 744px) {
    width: 235px;
    margin-left: 0;
    margin-right: auto;
  }
  @media screen and (min-width: 1440px) {
    font-size: 16px;
    line-height: 1.5;
    padding-left: 66px;
    padding-right: 66px;
  }
}

.btnContent {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10.5px;
  &::before {
    content: "";
    display: block;
    width: 22.5px;
    height: 1.5px;
    background-color: var(--white);
  }
}

.flagIcon {
  width: 30px;
  height: 30px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 38px;
}
