.subTitle {
  color: var(--white);
  font-family: Kanit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 12px;
  @media screen and (min-width: 744px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
    letter-spacing: -0.48px;
  }
}