.button {
  cursor: pointer;
  text-align: center;
  padding: 12px 40px;
  border: none;
  outline: none;
  align-items: center;
  justify-content: center;
  background-color: var(--button-color);
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    color:var(--light-grey);
  }

  @media screen and (min-width: 744px) {
    font-size: 16px;
    display: block;
  }
}
