.button {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 78px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 7px;
  background-color: var(--button-color);
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    background-color: var(--button-color-hover);
  }

  @media screen and (min-width: 744px) {
    font-style: 16px;
    padding-left: 29px;
    padding-right: 29px;
  }
  @media screen and (min-width: 1440px) {
    padding-left: 87px;
    padding-right: 87px;
  }
}
