.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
  background-color: var(--background);
  @media screen and (max-width: 743px) {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    overflow: hidden;
  }
  @media screen and (min-width: 1440px) {
    background-image: radial-gradient(
      50% 50% at 50% 100%,
      #2f4bc9 0%,
      #080808 100%
    );
  }
}

.toastContainer {
  bottom: 124px;
  @media screen and (min-width: 744px) {
    bottom: 80px;
  }
}

.modalcontent {
  color: rgba(0, 0, 0, 0.8);
  font-family: Roboto Mono;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
}

.title {
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: Roboto Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.contentWrapper {
  text-align: center;
}