// Mobile
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  min-width: 375px;
}


// Desktop
@media screen and (min-width: 1440px) {
  .container {
    padding-left: 120px;
    padding-right: 120px;
    max-width: 1920px;
  }
}
